.heading {
    font-size: 23px;
    width: 100%;
    margin: 10px;
    box-shadow: 8px 8px 8px blue;
    background-color: aqua;
}
.note
{
    font-size:15px;
    color:black;
}
.copy_right_footer{
    font-size: x-large;
    width: 100%;
    position:fixed;
    color:aqua;
    bottom:0;
    background-color: blue;
    line-height: 5;
    text-align: center;
}
canvas{
    border: 10px solid white;
    border-radius: 28px;
    box-shadow: 8px 8px 8px black;
}